// Place all the styles related to the contacts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.contact_list .num{
	width:30px;
}
.contact_list .name{
	width:200px;
}
.contact_list .title{
	width:450px;
}
.contact_list .status{
	width:90px;
}
.contact_list .action{
	width:75px;
}