%p#notice= notice

%p
  / %b Name:
  / = @product.name
/ %p
/   %b Type:
/   = @product.type
/ %p
/   %b Summary:
/   = @product.summary
/ %p
/   %b Description:
/   = @product.description
/ %p
/   %b Status:
/   = @product.status
/ %p
/   %b Price:
/   = @product.price
/ %p
/   %b Image:
/   = @product.image

= link_to 'Edit', edit_product_path(@product)
\|
= link_to 'Back', products_path
